.projet-detail{
    padding-left: 9%;
    padding-top: 3%;
}

ul {
    list-style-type: none;
    border: 20px;
    background-color: rgb(223, 209, 209);
    width: 30%;
    border-radius: 10px;
    padding: 20px;

  }


li{
    margin: 10px;

}

.button-edit{
    margin-right: 20px;
}

.delete-button hover{
background-color: red; 
}
