<div class="projet-detail"   *ngIf="projetDetail">
    <div>
        <h1>{{projetDetail.name}} project</h1> 
        <button class="button-edit"  [routerLink] ="['edit']" type="button" >Edit project</button>
        <button (click)="deleteProjet()">Delete project</button>
        <p>Statement: {{projetDetail.statement}}</p>   
        <p>Create at: {{projetDetail.creationDate}}</p>
        <h2>Tickets :</h2>
        <button class="button-edit" type="button"  [routerLink] ="['addTicket']">New ticket</button>
      
        
        <ul class="ticket-list" *ngFor="let ticket of projetDetail.ticketList; let i = index">N°{{i +1}}: {{ticket.status}}
        <li>Title: {{ticket.title}}</li>
        <li>Content: {{ticket.content}}</li>
        <li>Create at: {{ticket.creationDate}}</li>  
        <button class="button-edit" type="button"  [routerLink] ="['ticket/edit']">Edit ticket</button>
        <button (click)="deleteTicket()"class="delete-button">Delete ticket</button>
        </ul>
       
     
    </div>
</div>