<h1>Javanturiers's projects</h1>
<button [routerLink] ="['add'] "type="button">New project</button>
<ul class="projets-list ">
    <li *ngFor="let projet of projets">
        <h2 [routerLink] ="[projet.id]">{{projet.name}}</h2>
    </li>
</ul>

