ul {
  list-style-type: none;
  margin: auto;
  margin-top: 40px;
}

li {
  margin-bottom: 1rem;
  border: 1px solid var(--primary-color);
  width: 150px;
  padding: 1rem;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
}

li:hover {
  background-color: var(--secondary-color);
  color: black;
}


.projets-list {
    display: flex;
    border-color: blue;
    border: 30px;
  }

h1{
  font-size: 30px;
  padding-left: 9%;
  padding-top: 3%;
}

button {
  margin-left: 120px;
}