<header class="header">
  <div>
    <a href="#default">Zira Software</a>
  
    <img class="logo" src="" alt="" />
    <div class="header-right">
      <a class="active" href="#home">Home</a>
      <a href="#contact">Login</a>
      <a [routerLink] ="['projets']">Projects</a>
    </div>
  </div>
  <input
  class="input-search"
  type="search"
  placeholder="Find a project"
   />
</header>