<h1>Add a new ticket to Javanturier's projects !</h1>
<form [formGroup]="myForm" (ngSubmit)="save()" >

    <app-field label="Title : " [control]="myForm.controls['title']">
        <input type="text" name="title" formControlName='title' required />
    </app-field>

    <app-field label="Content : " [control]="myForm.controls['content']">
        <textarea type="text" name="content" formControlName='content' required ></textarea>
    </app-field>

    <button type="submit" class="btn btn-primary" [disabled]="myForm.invalid">
      Validate
    </button>
</form>
