<h1>Add a new projet to Javanturiers !</h1>
<form [formGroup]="myForm" (ngSubmit)="save()" action="/" method="post" enctype="multipart/form-data">

    <app-field label="Name : " [control]="myForm.controls['name']">
        <input type="text" name="name" formControlName='name' required />
    </app-field>

    <app-field label="Statement :" [control]="myForm.controls['statement']">
        <textarea type="text" name="statement" formControlName='statement' required></textarea>
    </app-field>

    <button type="submit" class="btn btn-primary" [disabled]="myForm.invalid">
      Validate
    </button>
</form>
