<h1>Edit projet to Javanturiers</h1>
<form [formGroup]="myForm" (ngSubmit)="update()" >

    <app-field label="Name : " [control]="myForm.controls['name']">
        <input type="text" name="name" formControlName='name' required />
    </app-field>

    <app-field label="Statement : " [control]="myForm.controls ['statement']">
        <textarea type="text" name="description" formControlName='description' required ></textarea>
    </app-field>

    <button type="submit" class="btn btn-primary" [disabled]="myForm.invalid">
        Validate
    </button>
</form>
