<div>
    <div class="home">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQZy0S6rhNINOcP7Mf9-qeWA18iH42aAeVwBw&usqp=CAU">
    <h1 class="homme-right">
        Zira alike enterprise grade test management offering superior developer experience to Agile/DevOps teams.
      <button [routerLink] ="['projets']" type="button">Explore projects !</button>  </h1>
   </div>

</div>
