
.home{
    display: flex;
    align-self: flex-start;
}

.homme-right{
    padding-top: 150px;
    width: 30%;
    justify-content: center;

}

img{
    padding-top: 100px;
    padding-left: 300px;
    width: 30%;
}


button { 
    background-color: rgb(167, 211, 242); /* Green */
    border: none;
    color: black;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 10px;
    margin-left: 30px;
    
  }

  button:hover{
    background-color: rgb(176, 91, 91);
    color: black;
    
  }